---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';

import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
 
const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/home', {
  version: 'draft',
})
 
const story = data.story
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroJS</title>
	</head>
	<body>
		<Header />
		<h1>J'utilise AstroJS !</h1>
		<BaseLayout>
			<StoryblokComponent blok={story.content} />
		</BaseLayout>
		<Footer />
		<script>
			document.querySelector('.hamburger')?.addEventListener('click', () => {
			  document.querySelector('.nav-links')?.classList.toggle('expanded');
			});
		</script>
	</body>
</html>
